@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Quicksand&display=swap');
body{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232832;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
    /* background-image: linear-gradient(to right,rgba(59, 52, 30, 0.678), rgba(54, 37, 0, 0.726)); */
}


.container{
width: 600px;
height: 600px;
display:none;
flex-direction: column;
border: 1px solid black;
/* box-shadow: 0 9px 18px rgb(0 0 0 / 16%), 0 9px 18px rgb(0 0 0 / 23%); */
position: absolute;

/* display: none; */
}
.drawContainer{
    width: 600px;
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: aliceblue;
    border: 1px solid black;
    /* box-shadow: 0 9px 18px rgb(0 0 0 / 16%), 0 9px 18px rgb(0 0 0 / 23%); */
    background-color: #446c91;
    position: absolute;
    display: none;
}
.resign{
    width: 50px;
    height: 45px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    padding-top: 5px;
    background-color: #446c91;
    display: none;
    cursor: pointer;
    /* left:0px; */

    
}
.end{
    width: 600px;
height: 300px;
display:flex;
align-items: center;
justify-content: center;
border-radius: 40px;
color: aliceblue;
border: 1px solid black;
/* box-shadow: 0 9px 18px rgb(0 0 0 / 16%), 0 9px 18px rgb(0 0 0 / 23%); */
background-color: #446c91;
position: absolute;
display: none;
}
.endText{
    text-align: center;
    font-size: 50px;
    font-family: 'Fira Code', monospace!important;
    font-weight: 700!important;
}
.inputLable{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#start{
width: 600px;
height: 600px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border: 1px solid black;
box-shadow: 0 9px 18px rgb(0 0 0 / 16%), 0 9px 18px rgb(0 0 0 / 23%);
background-color: #446c91;
position: relative;
border-radius: 10px;
z-index: 2;
/* display: none; */
}
.rank{
    display:flex;
    width: 100%;
    height: 100%;
}
.fa-regular,fa-handshake{
    color: #021741;
    
}
.draw{
    background-color: #446c91;
    font-size: 33px;
    /* color:#232832; */
    position: absolute;
    display: none;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 7px;
}
.box{
    
    width: 100%;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    position: relative;
}


#draggable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
}

.change-drag {
    width: 50px;
    background-color: transparent;
}
.promotion{
    position: absolute;
    width: 300px;;
    height: 350px;
    /* left: 1400px; */
    display: none;
    flex-direction: column;
}
.piece{
    text-align: center;
    border: 1px solid black;
    height: 100%;
    font-size: 50px;
    padding-top: 5px;
    
}
#queen, #bishop{
    background-color: white;
    
}
#rook, #knight{
    background-color: #446c91;
}
#queen{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
#knight{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.legal,.castle{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    position: absolute;

}
.legal{
    background-color: rgb(92, 146, 196);
}
.castle{
    background-color: #74b8f7;
}
#input1,#input2{
    font-size: 30px;
    color: #232832;
    z-index: 2;
    position: relative;
    top: 20px;
    font-family: 'Fira Code', monospace!important;
    font-weight: 700!important;
    
}
#name1,#name2{
    font-size: 30px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 3px solid #355675;
    font-family: 'Fira Code', monospace!important;
    font-weight: 700!important;
    width: 80%;
    text-align: center;
}
#startButton,#restart,.yesOrNo{
    width: 200px;
    height: 80px;
    background-color: #2c465e;
    z-index: 6;
    position: relative;
    font-size: 45px;
    font-family: 'Fira Code', monospace!important;
    font-weight: 700!important;
    font-variant: small-caps;
    border-radius: 10px;
    
    color: white;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.yesOrNo{
    left: 50%;
    transform: translate(-100%);
}
.yesOrNo:hover{
    transform: translate(-100%);
    -webkit-box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
-moz-box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
}
#startButton{
    position: relative;
    top: -50px;
}
#restart{
    position: absolute !important;
    left: 50%;
    transform: translate(-50%);
}
#restart:hover{
    transform: translate(-50%);
    -webkit-box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
-moz-box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
}

#startButton:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
-moz-box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
box-shadow: 0px 0px 29px 0px rgba(114,157,242,1);
}
/* #input2{
    font-size: 50px;
    color: white;
    position: relative;
    z-index: 2;
    
} */
/* #name2{
    font-size: 40px;
    position: relative;
    z-index: 2;
    top:-45px;
} */
#playerOne{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    margin: 0;
    position: absolute;
    width: 200px;
    height: 50px;
    color: white;
    /* background-color: #446c91; */
    background-color: rgba(68, 108, 145, 0.6);
    display: none;
    border-radius: 10px;
    transition: 0.3s;
    font-family: 'Fira Code', monospace!important;
    font-weight: 700!important;
    font-size: 25px;
    opacity: 0.7;
}
#playerTwo{
    position: absolute;
    width: 200px;
    height: 50px;
    margin: 0;
    color: white;
    /* background-color: #446c91; */
    background-color: rgba(68, 108, 145, 1);
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    display: none;
    border-radius: 10px;
    transition: 0.3s;
    font-family: 'Fira Code', monospace!important;
    font-weight: 700!important;
    font-size: 25px;
}
#denis{
    display: none;
}

.whiteNblack{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25px;
    
    
}
.whiteNblack-text{
    display: flex;
    gap: 100px;
    color: white;
    font-size: 30px;
    justify-content: center;
    font-family: 'Fira Code', monospace!important;
    font-weight: 700!important;
}
#name1::placeholder{
    text-align: center;
    color: rgba(255, 255, 255, 0.404);
}
#name2::placeholder{
    text-align: center;
    color: rgba(255, 255, 255, 0.404);
}

.whiteNblack-images{
    display: flex;
    gap: 80px;
    justify-content: center;
    position: relative;
    top: -15px;
    cursor: pointer;
}
.white,.black{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 70px;
    transition: 0.3s;
}
.white{
    border: 1px solid white;
    border-radius: 50%;
}
.black{
    border-radius: 50%;
}

@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  /* @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
   */
  .firework,
  .firework::before,
  .firework::after
  {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    --x: 30vmin;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
  }
  
  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
  }

  @media screen and (max-width: 800px) {
    .container, .end, #start {
      width: 300px;
      height: 300px;
      
    }
    .box{
        font-size: 25px; 
    }
    #playerOne, #playerTwo{
        width: 100px;
        height: 25px;
    }
    .draw, .resign{
        width: 25px;
        height: 25px;
        font-size: 10px;
        border-radius: 8px;
        box-sizing: border-box;
    }


  }